body {
    display: block;
    width: 80%;
    margin: auto;
}
img {
    width: 25%;
    display: block;
    margin: auto;
}
table {
    width: 100%;
}
tr {
    height: 50px;
}
td {
    text-align: center;
}

.api {
    margin: 50px 0 50px 0;
}
.title {
    text-align: center;
    margin: 50px 0 50px 0;
}